.carousel {
    overflow: hidden;

    &__container {
        
        transition: all .3s ease-in;
    }

    &__button {
        width: 100px;
        border: none;
        color: white;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);

        &__prev {
            left: 0;
            top: 0;
        }

        &__next {
            right: 0;
            top: 0;
        }
    }

    &__item {
        &__image {
            height: 192px;
            width: 341px;
            margin-right: 10px;
        }
    }
}